table , td , tr
{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%;
    table-layout: fixed;
}

img.test
{
    border-radius: 25px;
}

img.test2
{
    filter: blur(5px);
}

