table , th ,td
{
    border: 1px solid black;
    border-collapse:  collapse;
}

table
{
    width: 100%;
}

img.round
{
    border-radius: 8px;
}

img.blur
{
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.synopsis
{
    color: #7E8184;
    font-style: italic;
}

.button
{
    color: #FFF;
    background-color: blue;
    font-weight: bold;
    padding: 20 px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}

.button:active
{
    cursor: wait;
}

.page
{
    width: 600px;
    margin: 0 auto;
}

.table3x3 , tr ,td
{

    padding: 25px;
    border: 5px solid white;
    border-collapse:  collapse;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
