#profile
{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
h1
{
    color: green;
    font-size: 40px;
}
h2
{
    color: blueviolet;
    font-size: 35px;
}
h3
{
    margin-left: 20%;
    color: teal;
    font-size: 30px;
}
#table1,tr,td
{
    margin-left: 20%;
    border: 10px solid yellow;
    border-collapse: collapse; 
    width: 60%;
    table-layout: fixed;
    font-weight: bold;
    font-size: 28px;
}
#table2,tr,td
{
    margin-left: 20%;
    border: 10px solid yellow;
    border-collapse: collapse; 
    width: 60%;
    table-layout: fixed;
    font-weight: bold;
}
#table3,tr,td
{
    margin-left: 20%;
    border: 10px solid yellow;
    border-collapse: collapse; 
    width: 60%;
    table-layout: fixed;
    font-weight: bold;
}
#table4,tr,td
{
    margin: auto;
    
    border: 5px solid yellow;
    border-collapse: collapse; 
    width: 50%;
    table-layout: fixed;
    font-weight: bold;
    font-size: 16px;
}

#pic1
{
    height: 200px;
    width: 200px;
}
#pic2
{
    height: 200px;
    width: 200px;
}
#pic3
{
    height: 200px;
    width: 200px;
}
#camtlogo
{
    height: 200px;
    width: 200px;

}